* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  font-family: montserrat;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  height: 6vh;
  width: 22vw;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logocon {
  padding-top: 1.3vw;
  height: 10vh;
  width: 18vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

/* FORM STYLING */

#subscribe_form {
  margin-top: 4vw;
  display: grid;
  justify-content: center;
}

form {
  width: 45vw;
  margin: 10px auto;
  background-color: #ecf0f1;
  padding: 50px;
  border-radius: 5px;
  font-family: montserrat;
}

input[type="text"],
input[type="email"] {
  background-color: white;
  font-family: montserrat;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.2rem;
  border: none;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2rem;
  width: 100%;
}

.submit {
  border-style: none;
  border-width: 0;
  cursor: pointer;
  font-family: montserrat;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.8rem 1rem;
  font-size: 1em;
  background-color: #bdc3c7;
  border-color: #34495e;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 5px;
  width: 10vw;
}

.fillform {
  cursor: pointer;
  height: 3.5vw;
  width: 12vw;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 450;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  color: #ffed00;
  font-size: 0.7em;
  position: relative;
  top: 11vh;
  margin-left: 4vw;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 10px;
}

.fillform a {
  text-decoration: none;
}

.fillform:hover {
  background: rgb(80, 80, 80);
  color: #ffed00;
  transform: scale(1.1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.fillform:visited {
  text-decoration: none;
}

/* Popup */

#form-popup {
  position: fixed;
  border: 3px solid #f1f1f1;
  top: 57vh;
  left: 55vw;
}

#form-popup h2 {
  max-width: 40vw;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 0.9em;
  font-weight: 300;
}

#form-popup {
  transition: opacity 1s;
}

#form-popup.opacity-toggle {
  opacity: 0;
}

.section1 {
  height: 45vh;
  width: 100%;
}

.ikoner {
  height: 30vh;
  width: 80vw;
  background-image: url(ikoner.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4.5vw;
  margin-top: 1vw;
}

.ikoncon {
  display: flex;
  justify-content: center;
}

#text2 {
  max-width: 35vw;
  font-size: 1.5em;
  position: relative;
  top: -6vw;
}

#text2 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.text2con {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.text2con p {
  margin-top: 1vw;
}

#welcome {
  text-align: center;
  /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555; */
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  padding-top: 20vh;
  overflow: hidden;
}

#welcome > div:nth-child(1) > b {
  color: #ddcf0a;
}

#welcome div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#welcome div:first-of-type {
  animation: showup 7s forwards;
}

.show {
  animation: showup2 7s forwards;
}

.show2 {
  animation: showup 7s forwards;
}

#welcome div:last-of-type {
  width: 0px;
  animation: reveal 7s forwards;
}

#welcome div:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s forwards;
}

@keyframes showup {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showup2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: -40px;
  }
  100% {
    margin-left: -40px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 350px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 350px;
  }
}

.show {
  animation: showup2 7s forwards;
}

.dissapear {
  animation: dissapear 1s forwards;
}

@keyframes showup2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  /* .welcome p {
    max-width: 20vw;
  }

  #welcome > div:nth-child(2) > span {
    max-width: 20vw;
  } */

  .text2con {
    flex-direction: column;
    align-items: center;
    height: 70vw;
  }

  #text2 {
    max-width: 90vw;
    padding: 25px;
    top: -36vw;
    font-size: 1.2em;
  }

  #knap1 {
    top: -32vw;
    position: relative;
  }

  .ikoner {
    height: 15vh;
    width: 100vw;
    margin: 0;
  }

  .fillform {
    height: 10vw;
    width: 30vw;
    padding-top: 2.5vw;
  }

  .submit {
    width: 30vw;
  }

  form {
    width: 90vw;
    margin-top: 1vw;
  }

  #subscribe_form {
    position: relative;
    top: -45vw;
  }

  #form_wrap {
    height: 20vw;
  }

  .logo {
    height: 10vh;
    width: 50vw;
  }

  .logocon {
    padding-top: 2.3vw;
    height: 10vh;
    width: 50vw;
  }

  .text2con p {
    margin-top: 4vw;
  }

  .fillform {
    top: 0;
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: -10px;
    }
    100% {
      margin-left: -10px;
    }
  }
}
